<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <title>主页</title>
</head>
<body>
<div id="nav">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <img src="./photos/logo.png" alt="">
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right" id="loginRegister">
                    <li>
                        <a href="">
                            <span class="glyphicon glyphicon-home navtu " aria-hidden="true"></span>首页
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>我的物品
                        </a>
                    </li>
                    <li class="text-center">
                        <a href=""><span class="glyphicon glyphicon glyphicon-shopping-cart navtu" style = " padding-right: 5px;" aria-hidden="true"></span>购物车</a>
                    </li>
                    <li><a href="#">登录</a></li>
                    <li><a href="">注册</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<div id="mainMiddle">
    <div class="container-fluid">
        <div class="row" id="search">
            <div class="col-md-6 col-md-offset-3">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
              <button class="btn btn-default" type="button">Go!</button>
            </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-2 col-md-offset-1">
                <div class="thumbnail">
                    <div class="tphoto">
                        <img src="./photos/goods1.jpg" alt="">
                    </div>
                    <div class="caption">
                        <h3>{{价格}}</h3>
                        <p>{{描述}}</p>
                        <p>
                            <a href="#" class="btn btn-primary" role="button">
                                购买
                            </a>
                            <a href="#" class="btn btn-default" role="button">
                                加入购物车
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-2 ">
                <div class="thumbnail">
                    <div class="tphoto">
                        <img src="./photos/goods2.jpg" alt="">
                    </div>
                    <div class="caption">
                        <h3>{{价格}}</h3>
                        <p>{{描述}}</p>
                        <p>
                            <a href="#" class="btn btn-primary" role="button">
                                购买
                            </a>
                            <a href="#" class="btn btn-default" role="button">
                                加入购物车
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-2 ">
                <div class="thumbnail">
                    <div class="tphoto">
                        <img src="./photos/goods3.jpg" alt="">
                    </div>
                    <div class="caption">
                        <h3>{{价格}}</h3>
                        <p>{{描述}}</p>
                        <p>
                            <a href="#" class="btn btn-primary" role="button">
                                购买
                            </a>
                            <a href="#" class="btn btn-default" role="button">
                                加入购物车
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-2 ">
                <div class="thumbnail">
                    <div class="tphoto">
                        <img src="./photos/goods4.jpg" alt="">
                    </div>
                    <div class="caption">
                        <h3>{{价格}}</h3>
                        <p>{{描述}}</p>
                        <p>
                            <a href="#" class="btn btn-primary" role="button">
                                购买
                            </a>
                            <a href="#" class="btn btn-default" role="button">
                                加入购物车
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-2">
                <div class="thumbnail">
                    <div class="tphoto">
                        <img src="./photos/goods5.jpg" alt="">
                    </div>
                    <div class="caption">
                        <h3>{{价格}}</h3>
                        <p>{{描述}}</p>
                        <p>
                            <a href="#" class="btn btn-primary" role="button">
                                购买
                            </a>
                            <a href="#" class="btn btn-default" role="button">
                                加入购物车
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-2 col-md-offset-1">
                <div class="thumbnail">
                    <div class="tphoto">
                        <img src="./photos/goods1.jpg" alt="">
                    </div>
                    <div class="caption">
                        <h3>{{价格}}</h3>
                        <p>{{描述}}</p>
                        <p>
                            <a href="#" class="btn btn-primary" role="button">
                                购买
                            </a>
                            <a href="#" class="btn btn-default" role="button">
                                加入购物车
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-2 ">
                <div class="thumbnail">
                    <div class="tphoto">
                        <img src="./photos/goods2.jpg" alt="">
                    </div>
                    <div class="caption">
                        <h3>{{价格}}</h3>
                        <p>{{描述}}</p>
                        <p>
                            <a href="#" class="btn btn-primary" role="button">
                                购买
                            </a>
                            <a href="#" class="btn btn-default" role="button">
                                加入购物车
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-2 ">
                <div class="thumbnail">
                    <div class="tphoto">
                        <img src="./photos/goods3.jpg" alt="">
                    </div>
                    <div class="caption">
                        <h3>{{价格}}</h3>
                        <p>{{描述}}</p>
                        <p>
                            <a href="#" class="btn btn-primary" role="button">
                                购买
                            </a>
                            <a href="#" class="btn btn-default" role="button">
                                加入购物车
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-2 ">
                <div class="thumbnail">
                    <div class="tphoto">
                        <img src="./photos/goods4.jpg" alt="">
                    </div>
                    <div class="caption">
                        <h3>{{价格}}</h3>
                        <p>{{描述}}</p>
                        <p>
                            <a href="#" class="btn btn-primary" role="button">
                                购买
                            </a>
                            <a href="#" class="btn btn-default" role="button">
                                加入购物车
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-2">
                <div class="thumbnail">
                    <div class="tphoto">
                        <img src="./photos/goods5.jpg" alt="">
                    </div>
                    <div class="caption">
                        <h3>{{价格}}</h3>
                        <p>{{描述}}</p>
                        <p>
                            <a href="#" class="btn btn-primary" role="button">
                                购买
                            </a>
                            <a href="#" class="btn btn-default" role="button">
                                加入购物车
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="footer">
    <hr>
    <p class="text-center">
        本网站由长沙理工大学计算机系同学完成@2021.07<br>
        本项目源码受MIT开源协议保护<br>
    </p>
</div>
<!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
<a th:href="@{/toLogin}" class="btn btn-primary btn-lg active" role="button">登录</a>
<a th:href="@{/toRegister}" class="btn btn-primary btn-lg active" role="button">注册</a>
</body>
</html>