<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <script th:src="@{/js/jquery.js}"></script>

    <title>商品主页</title>
</head>
<style>
    .img {
        height: 60%;
    }

    .price {
        color: orange;
        font-size: 20px;
    }
    .main{
        background-color: orange;
        height: 300px;
        margin: 5px;
    }
    .span2{
        height: 100px;
    }
    .col-md-4{
        height: 50px;
        padding: 5px;
        background-color: orange;
    }
</style>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-1">.col-md-1</div>
        <div class="col-md-1">.col-md-1</div>
        <div class="col-md-1">.col-md-1</div>
        <div class="col-md-1">.col-md-1</div>
        <div class="col-md-1">.col-md-1</div>
        <div class="col-md-1">.col-md-1</div>
        <div class="col-md-1">.col-md-1</div>
        <div class="col-md-1">.col-md-1</div>
        <div class="col-md-1">.col-md-1</div>
        <div class="col-md-1">.col-md-1</div>
        <div class="col-md-1">.col-md-1</div>
        <div class="col-md-1">.col-md-1</div>
    </div>
    <div class="row">
        <div class="col-md-8">.col-md-8</div>
        <div class="col-md-4">.col-md-4</div>
    </div>
    <div class="row">
        <div class="col-md-4">.col-md-4</div>
        <div class="col-md-4">.col-md-4</div>
        <div class="col-md-4">.col-md-4</div>
    </div>
    <div class="row">
        <div class="col-md-6">.col-md-6</div>
        <div class="col-md-6">.col-md-6</div>
    </div>
</div>

<!-- Contextual button for informational alert messages -->
<button type="button" class="btn btn-info" id="high" onclick="reducePage()">上一页</button>
<!-- Contextual button for informational alert messages -->
<button type="button" class="btn btn-info" id="low" onclick="addPage()">下一页</button>
<button type="button" class="btn btn-info" id="totalPage"></button>

<div class="row clearfix col-md-12 column">

</div>


</body>
<script th:inline="javascript">

    var currentPage = 1;
    var basePath = [[${#httpServletRequest.getScheme() + "://" + #httpServletRequest.getServerName() + ":" + #httpServletRequest.getServerPort() + #httpServletRequest.getContextPath()}]];
    function totalPage() {
        $.ajax({
            type: "get",
            url: basePath + "/getTotalPage",
            success(result) {
                $("#totalPage").html("总页数:"+result);
            }
        })
    }

    function page() {
        $.ajax({
            type: "get",
            url: basePath + "/getAllGoods",
            data: {"currentPage": currentPage},
            success(result) {
                console.log(result[0].imgs[0].imgAddr);
                $(".img").attr("src","img/"+result[0].imgs[0].imgAddr);
                console.log("img/"+result[0].imgs[0].imgAddr)
            }
        })
    }

    $(function () {
        page();
        totalPage();

    });

    function reducePage() {
        if (currentPage > 1) currentPage--;
        page();
    }

    function addPage() {
        if (currentPage > 1) currentPage--;
        page();
    }


</script>
</html>