<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/shoppingcart.css}">
    <script th:src="@{/js/jquery.js}"></script>
    <script th:src="@{/js/bootstrap.js}"></script>
    <title>我的物品</title>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <img th:src="@{/img/logo.png}" alt="logo">
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right" id="loginRegister">
                <li>
                    <a th:href="@{/toIndex}">
                            <span class="glyphicon glyphicon-home navtu " style=" padding-right: 5px;"
                                  aria-hidden="true"></span>首页
                    </a>
                </li>
                <li>
                    <a th:href="@{/toMyOrder/{userId}(userId=${session.userId})}">
                            <span class="glyphicon glyphicon-list-alt" style=" padding-right: 5px;"
                                  aria-hidden="true"></span>我的订单
                    </a>
                </li>
                <li>
                    <a th:href="@{/toMySell/{userId}(userId=${session.userId})}">
                            <span class="glyphicon glyphicon-user" style=" padding-right: 5px;"
                                  aria-hidden="true"></span>我是卖家
                    </a>
                </li>
                <li class="text-center">
                    <a th:href="@{/shoppingCartGoods/{userId}(userId=${session.userId})}"><span
                            class="glyphicon glyphicon glyphicon-shopping-cart navtu"
                            style=" padding-right: 5px;" aria-hidden="true"></span>购物车</a>
                </li>
                <li><a id="login" th:href="@{/toLogin}"
                       th:text="${#strings.isEmpty(session.userName)?'登录':session.userName}"></a></li>
                <li><a id="logOut" th:href="@{/logOut}" th:text="${#strings.isEmpty(session.userName)?'':'注销'}"></a>
                </li>
                <li><a th:href="@{/toRegister}">注册</a></li>
                <li><p th:text="${session.userId}" style="display: none" id="userId"></p></li>
            </ul>
        </div>
    </div>
</nav>
<div id="main">
    <div class="container">
        <div class="table-responsive">
            <table class="table">
                <caption><strong>我的物品</strong>
                    <a th:href="@{/toSellGoods}">
                        <button class="btn btn-primary">添加</button>
                    </a>
                </caption>
                <thead>

                <tr>
                    <th>操作</th>
                    <th>商品主图</th>
                    <th>商品详情</th>
                    <th>出售价格</th>
                    <th>商品品牌</th>

                </tr>

                </thead>
                <tbody>
                <tr th:each="goods:${list}">
                    <td>
                        <div>
                            <a th:href="@{/toUpdateGoods/{goodsId}(goodsId=${goods.goodsId})}"
                               class="btn btn-success btn-sm active btn-info" role="button" id="modify">修改</a>
                            <a th:href="@{/deleteMyGoods/{goodsId}(goodsId=${goods.goodsId})}"
                               class="btn btn-danger btn-sm active btn-info" role="button" id="delete">删除</a>
                            <p th:text="${goods.goodsId}" style="display: none" class="goodsId"></p>
                        </div>
                    </td>
                    <td>
                        <div class="col-sm-4">
                            <img th:src="@{/img/{img}(img=${goods.mainImg})}"
                                 style="width: 100px; height: 100px;">
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-sm-6">
                                <p id="goodsName" th:text="${goods.goodsName}"></p>
                                <br>
                                <p id="goodsDesc" th:text="${goods.goodsDesc}"></p>
                            </div>
                        </div>
                    </td>
                    <td><p style="line-height: 100px;" th:text="${goods.goodsPrice}" class="price"><label></label></p>
                    <td><p style="line-height: 100px;" th:text="${goods.goodsBrand}" class="goodsBrand"><label></label></p>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div id="footer">
    <hr>
    <p class="text-center">
        <strong class="text-center">
            本网站由长沙理工大学计算机系同学完成@2021.07<br>
            本项目源码受MIT开源协议保护<br>
        </strong>
    </p>
</div>
</body>
</html>