<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/register.css}">
    <script rel="script" th:src="@{/js/jquery.js}"></script>
    <script th:src="@{/js/register.js}"></script>
    <title>注册</title>
</head>
<body>
<div id="main">
    <div id="regwindows">
        <form class="form-horizontal" id="form" th:action="@{/register}" method="post">
            <div class="form-group">
                <div class="col-sm-4">
                    <img th:src="@{/img/logo.png}" alt="logo">
                </div>
                <div class="col-sm-6">
                    <h2 class="text-left" id="yonghureg">用户注册</h2>
                    <p th:text="${msg}" th:if="${not #strings.isEmpty(msg)}"></p>
                    <div class="tips" style="color: red"></div>
                </div>
            </div>
            <hr style="border-top:1px goldenrod solid;">
            <div class="form-group">
                <label for="username" class="col-sm-2 col-sm-offset-1 control-label">用户名</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="userName" name="userName" placeholder="请输入用户名" >
                    <label for="username" id="usernametishi" class="tishi">用户名不能为空</label>
                </div>
            </div>
            <div class="form-group">
                <label for="userPwd" class="col-sm-2 col-sm-offset-1 control-label" >密码</label>
                <div class="col-sm-6">
                    <input type="password" class="form-control" id="userPwd" name="userPwd" placeholder="请输入密码">
                    <label for="userPwd" id="passwordtishi" class="tishi">密码不能为空</label>
                </div>
            </div>
            <div class="form-group">
                <label for="phoneNum" class="col-sm-2 col-sm-offset-1 control-label">手机号</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="phoneNum" placeholder="请输入手机号" name="phoneNum">
                </div>
            </div>
            <div class="form-group">
                <label for="address" class="col-sm-2 col-sm-offset-1 control-label">收货地址</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="address" placeholder="地址" name="address" onblur="">
                </div>
            </div>
            <div class="form-group">
                <label for="wechatNum" class="col-sm-2 col-sm-offset-1 control-label">微信号</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="wechatNum" placeholder="微信号" value="" name="wechatNum">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-6">
                    <button type="submit" class="btn btn-primary form-control" id="regbutton">注册</button>
                </div>
            </div>
            <p class="text-center"><label>已有账号?<a th:href="@{/toLogin}">立即登录</a></label></p>
        </form>
    </div>
</div>
<div id="footer">
    <hr>
    <p class="text-center">
        <strong>
            本网站由长沙理工大学计算机系同学完成@2021.07<br>
            本项目源码受MIT开源协议保护<br>
        </strong>
    </p>
</div>
</body>
</html>