<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/shoppingcart.css}">
    <script th:src="@{/js/jquery.js}"></script>
    <script th:src="@{/js/bootstrap.js}"></script>
    <script th:src="@{/js/shoppingcart.js}"></script>
    <title>购物车</title>
</head>
<body>
    <div id="nav"> 
        <nav class="navbar navbar-default navbar-fixed-top">
          <div class="container-fluid">
            <div class="navbar-header">
             <img th:src="@{/img/logo.png}" alt="logo">
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right" id="loginRegister">
                <li>
                  <a th:href="@{/toIndex}">
                            <span class="glyphicon glyphicon-home navtu " style=" padding-right: 5px;"
                                  aria-hidden="true"></span>首页
                  </a>
                </li>
                <li>
                  <a th:href="@{/toMyOrder/{userId}(userId=${session.userId})}">
                            <span class="glyphicon glyphicon-list-alt" style=" padding-right: 5px;"
                                  aria-hidden="true"></span>我的订单
                  </a>
                </li>
                <li>
                  <a th:href="@{/toMySell/{userId}(userId=${session.userId})}">
                            <span class="glyphicon glyphicon-user" style=" padding-right: 5px;"
                                  aria-hidden="true"></span>我是卖家
                  </a>
                </li>
                <li><a id="login" th:href="@{/toLogin}"
                       th:text="${#strings.isEmpty(session.userName)?'登录':session.userName}"></a></li>
                <li><a id="logOut" th:href="@{/logOut}" th:text="${#strings.isEmpty(session.userName)?'':'注销'}"></a>
                </li>
                <li><a th:href="@{/toRegister}">注册</a></li>
                <li><p th:text="${session.userId}" style="display: none" id="userId"></p></li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
      <div id="main">
        <div class="col-md-6 col-md-offset-3">
          <div class="input-group" id="search">
            <input type="text" class="form-control" placeholder="搜索...">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button" id="searchbutton"><span class="glyphicon glyphicon-search
                "></span> 搜索</button> 
            </span>
          </div>
        </div>
        <div class="container">
          <table class="table table-condensed">
            <caption><h3 class="text-danger">我的购物车</h3></caption>
            <thead>
              <tr>
                <th>
                  操作
                 </th>
                <th>商品图片</th>
                <th>商品详情</th>
                <th>价格</th>
              </tr>
            </thead>
            <tbody>
                <tr th:each="goods:${list}">
                  <td>
                    <div class="checkbox btn-xs" >
                      <input type="checkbox">
                      选择
                      <br>
                      <!-- Indicates a dangerous or potentially negative action -->
                    </div>
                    <div>
                      <a th:href="@{/deleteShoppingCartGoods/{goodsId}/{userId}(goodsId=${goods.goodsId},userId=${session.userId})}"
                         class="btn btn-danger btn-sm active btn-info" role="button" id="delete">删除</a>
                      <p th:text="${goods.goodsId}" style="display: none" class="goodsId"></p>
                    </div>
                  </td>
                  <td>
                    <div class="col-sm-4">
                      <img th:src="@{/img/{img}(img=${goods.mainImg})}" alt="" style="width: 100px; height: 100px;">
                    </div>
                  </td>
                  <td>
                    <div class="row">
                      <div class="col-sm-6">
                        <p id="goodsName" th:text="${goods.goodsName}"></p>
                        <br>
                        <p id="goodsDesc" th:text="${goods.goodsDesc}"></p>
                      </div>
                    </div>
                  </td>
                  <td><p style="line-height: 100px;" th:text="${goods.goodsPrice}" class="price"><label></label></p></td>
                </tr>
            </tbody>
          </table>
          <hr>  
        </div>
        <hr>  
      </div>
      <div id="shopCarpay">
        <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
          <div class="container">
            <ul class="nav navbar-nav navbar-left"> 
              <li >
              </li>
            </ul> 
            <ul class="nav navbar-nav navbar-right"> 
            <li style="display: block; padding: 15px 10px;"><p class="text-center">已选商品共<strong id="count">0</strong>件</p></li>
            <li  style="display: block; padding: 15px 10px;"><p>合计￥<strong id="totalMoney">0</strong></p></li>
            <li> <button type="button" class="btn btn-default btn-lg" id="shopCarButton">结算</button></li>
        </ul>
          </div>
      </nav>
      </div>
</body>
</html>